@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Source+Sans+Pro:wght@300;600&display=swap');

/* for whole app*/

/* font-family: 'Chewy', cursive; */
header{
 display: flex;
 justify-content: space-between;
  
}
.header-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header-form{
  display: flex;
justify-content: flex-end;
align-items: center;
}

body{
  background-image:url('https://i.imgur.com/DFpWhmN.png');
}
p, h1, h2, h3, h4{
text-align: center;
}

p, h3, h4{
  font-family: 'Source Sans Pro', sans-serif;
}
p{
  padding: 0px 10px 0px 10px;
font-weight: 300;
}


h1, h2{
color: #c1708c;
font-family: 'Chewy', cursive;

}

a{
  text-decoration: none;
}

img{
  padding:20px ;
}

/* for app.js */

form{
  display: flex;
  justify-content: flex-end;
}

input{
  border: none;
  height: 30px;
  width: 300px;
  border-radius: 10px;
}
button{
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background-color:  #c1708c;
}

/* for weeklyread.js */

.weekly-main{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekly-details{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 30px;
  margin: 0px 20px 20px 20px;
  background-color: whitesmoke;
  max-width: 450px;
}

.weekly-text{
  padding:35px
}

/* for Bestseller.js */

.seller-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seller-imgs{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  flex-wrap: wrap;
}

.seller-image{
 padding:30px
}

/* for search list.js */

.searchlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
}

/* for details.js */

.detail-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px;
  background-color: whitesmoke;
  height: 400px;
  
}

.detail-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-h3{
  color: black;
}

/* for seemore.js */
.more-box{
display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 150px;
  background-color: whitesmoke;
  height: 400px;
}

.more-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buyTag{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aTag{
  padding:10px;
  background-color: #c1708c;
  margin: 10px;
  border-radius: 10px;
  color: white;
}


@media only screen and (max-width: 770px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .header-box{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   
   .header-form{
     display: flex;
     align-items: center;
     justify-content: center;
   }

}


@media only screen and (max-width: 770px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .header-box{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   
   .header-form{
     display: flex;
     align-items: center;
     justify-content: center;
   }

  }


@media only screen and (max-width: 375px) {
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .header-box{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   
   .header-form{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
/* for weekly */


   .weekly-details{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 30px;
    margin: 0px 20px 20px 20px;
    background-color: whitesmoke;
    max-width: 450px;
  }


.weekly-text{
  padding:0px
}

/* for details.js */

.detail-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: whitesmoke;
  height: 400px;
  
}

/* for seemore.js */


.more-box{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: whitesmoke;
    height: 400px;
  }

  h3,h4,p{
    margin: 0px;
  }

  }
   